.wrap {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #999;
}

.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
}