.imgcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: auto;
    min-height: 500px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.shodowcontainer {
    position: absolute;
    left: -1000px;
}

.showcontainer {
    position: relative;
    width: 200px;
    height: 405px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.showcontainer2 {
    position: relative;
    width: 800px;
    height: 1620px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.showcontainer .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 405px;
    z-index: 2;
}

.showcontainer2 .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 1620px;
    z-index: 2;
}

.showcontainer .week {
    position: absolute;
    left: 0;
    top: 40px;
    width: 200px;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
}

.showcontainer2 .week {
    position: absolute;
    left: 0;
    top: 160px;
    width: 800px;
    font-size: 48px;
    font-weight: bold;
    z-index: 2;
}

.showcontainer .time {
    position: absolute;
    left: 0;
    top: 55px;
    width: 200px;
    font-size: 50px;
    z-index: 2;
}

.showcontainer2 .time {
    position: absolute;
    left: 0;
    top: 220px;
    width: 800px;
    font-size: 200px;
    z-index: 2;
}

.showcontainer .uploadimg {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 190px;
    height: 398px;
    z-index: 1;
    border-radius: 24px;
    background-position: center center;
    background-size: auto 398px;
}

.showcontainer2 .uploadimg {
    position: absolute;
    top: 16px;
    left: 20px;
    width: 760px;
    height: 1592px;
    z-index: 1;
    border-radius: 96px;
    background-position: center center;
    background-size: auto 1592px;
}

.downloadbtn {
    margin-top: 10px;
} 

.showcontainer .svg {
    position: absolute;
    bottom: -15px;
    left: 10px;
    width: 180px;
    z-index: 2;
}

.showcontainer2 .svg {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 720px;
    height: auto;
    z-index: 2;
}

/* Mobile */
@media (max-width: 650px) {
    .imgcontainer {
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}