.pagecontainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.showarea {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
}

.copy {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 55px;
    height: 25px;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    background-color: rgb(47, 207, 247);
    color: #fff;
    cursor: pointer;
}

.md {
    line-height: 1.75;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    color: rgb(63, 63, 63);
    letter-spacing: 0.1em;
    font-size: 14px;
}

.md ol, .md ul {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 25px;
    color: black;
}

.md ol li, .md ul li {
    margin-bottom: 10px;
}

.md ol ul {
    margin-top: 0;
}

.md ol > li::marker {
    color: rgb(255, 95, 46);
}

.md h2 {
    display: table;
    margin: 30px auto 20px;
    padding-right: 15px;
    padding-left: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0) 92%, rgb(255, 95, 46) 8%);
}

.md h3 {
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 4px solid rgb(255, 95, 46);
}

.md h2 + h3, .md h2 + ol, .md h2 + ul {
    margin-top: 0px;
}

.md strong {
    color: rgb(255, 95, 46);
}